@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 52% 4%;
    --foreground: 0 0% 3%;
    --card: 224 52% 96%;
    --card-foreground: 0 0% 3%;
    --popover: 224 52% 96%;
    --popover-foreground: 0 0% 3%;
    --primary: 206 100% 65%;
    --primary-foreground: 0 0% 3%;
    --secondary: 60 52% 5%;
    --secondary-foreground: 224 52% 96%;
    --muted: 223 53% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 206 100% 65%;
    --accent-foreground: 0 0% 3%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 3%;
    --border: 223 53% 20%;
    --input: 223 53% 20%;
    --ring: 206 100% 40%;
    --radius: 0.9rem;
  }

  .dark {
    --background: 224 52% 4%;
    --foreground: 0 0% 97%;
    --card: 0, 0%, 7%;
    --card-foreground: 0 0% 97%;
    --popover: 224 52% 4%;
    --popover-foreground: 0 0% 97%;
    --primary: 206 100% 35%;
    --primary-foreground: 0 0% 97%;
    --secondary: 60 50% 95%;
    --secondary-foreground: 224 52% 4%;
    --muted: 223 53% 80%;
    --muted-foreground: 0 0% 97%;
    --accent: 206 100% 35%;
    --accent-foreground: 0 0% 97%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 224 52% 60%;
    --input: 223 53% 80%;
    --ring: 206 100% 60%;
  }

  @keyframes flip-on {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

  @keyframes flip-off {
    0% {
      transform: rotateY(360deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }

  .group:hover .card {
    animation: flip-on 0.7s linear 0.2s forwards;
    animation-play-state: running;
  }

  .group:not(:hover) .card {
    animation: flip-off 0.7s linear 0.2s forwards;
    animation-play-state: running;
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 0, 100;
      fill: #919191;
    }
    50% {
      stroke-dasharray: 50, 50;
      fill: #dcf556;
    }
    100% {
      stroke-dasharray: 100, 0;
      fill: #dcf556;
    }
  }

  .arrow svg .circle {
    transition: fill 0.1s ease-in-out;
  }

  .group:hover .arrow svg .circle {
    fill: #dcf556;
  }

  .arrow svg .path {
    fill: #919191;

    stroke-dasharray: 100, 0;
    transition:
      stroke 0.7s ease-in-out,
      stroke-dasharray 0.7s ease-in-out;
  }

  .group:hover .arrow svg .path {
    animation: dash 0.9s forwards;
  }
}

@keyframes lightEffect {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 0.5;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.button-glass {
  position: relative;
  overflow: hidden;
}

.button-glass::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: transparent;
  transform: translateX(-100%);
}

.button-glass:hover::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );

  transform: translateX(75%);
  animation: lightEffect 1s forwards;
}

.hover-underline {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: inherit;
  text-decoration: none; /* Remove default underline */
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes neonBorder {
  0% {
    box-shadow:
      0 0 5px #0066b2,
      0 0 15px #0066b2,
      0 0 20px #0066b2,
      0 0 40px #0066b2;
    border-color: #0066b2;
  }
  50% {
    box-shadow:
      0 0 10px #0066b2,
      0 0 15px #0066b2,
      0 0 30px #0066b2,
      0 0 60px #0066b2;
    border-color: #0066b2;
  }
  100% {
    box-shadow:
      0 0 5px #0066b2,
      0 0 11px #0066b2,
      0 0 20px #0066b2,
      0 0 50px #0066b2;
    border-color: #0066b2;
  }
}

.active-neon-button {
  position: relative;
  border-radius: 50%;
  border: 1px solid transparent;
}

.active-neon-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  animation: neonBorder 2s infinite;
  pointer-events: none;
  z-index: -1;
}
.neon-glow {
  position: relative;
  background: linear-gradient(to right, rgb(2, 48, 89), #0969b3);
  box-shadow:
    0 0 5px #0969b3,
    0 0 10px #0969b3,
    0 0 15px #0969b3,
    0 0 30px #0969b3;
  filter: brightness(1.2);
  border-radius: 4px;
  height: 4px;
}

.neon-glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  box-shadow:
    0 0 10px #00f6ff,
    0 0 20px #00f6ff,
    0 0 40px #00f6ff,
    0 0 80px #00f6ff;
  z-index: -1;
  opacity: 0.7;
  pointer-events: none;
}

@keyframes logoLoad {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-logoLoad {
  animation: logoLoad 1.5s ease-in-out forwards;
}
